@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body {
  background-color: black;
  color: aliceblue;
  font-family: 'Montserrat';
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#search {
  width: 50vw;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  font-size: 16px;
  outline: none; 
  box-sizing: border-box;
}

.image {
  width: 15vw;
  height: auto;
  border: 1px solid white;
}

#id {
  font-weight: 300;
}

#movie-name {
  font-weight: 700;
}

#gender {
  font-weight: 400;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}

#modal-content {
  color: black;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

#modal-button {
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
}

